/*sidebar parent class*/
.sidebar-parent {
  display: flex; /* Display the children elements in a flex container */
  
}

.admin-content {
  /* height: 89.3vh; */
  height: 97vh;
  flex: 1 1;
  padding: 0% 4% 4% 4%;
  background-color: #51555c63;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  background-image: url("C:\Users\jagat\Downloads\New folder\Grivence Mgt System BackEnd\GrievanceManagementSystem\Images\background8.jpg");
}

/* Menu Styles */
.sidebar-parent .menu {
  width: 20%; /* Menu takes up the full width */
  height: 102.vh;
  background-color: #000000;
}

.menu li {
  margin-bottom: 10px;
  background-color: #06030f;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size:medium;
}

.menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e30000;
  padding: 10px;
  border-radius: 5px;
  /* transition: background-color 0.3s, color 0.3s; */
}



/* Danger (Logout) Option */
.menu a.danger {
  color: #ffb8b0; /* Red color for danger items */
}

.menu a.danger:hover {
  background-color: #45d02c;
}

/* Icon Styles */
.menu svg {
  margin-right: 10px;
}

/* Label Styles */
.menu span {
  display: inline-block;
  margin-left: 5px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .menu a {
    padding: 8px;
  }
}
.ant-menu{
  background-color: #000000;
}