 .modal-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5164db54;
    box-shadow: 5%;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(62, 50, 50, 0.2);
    border-radius: 3px;
    width: 100vw;
    height: 100vh;

   }
   .custom-alert {
    position: fixed;
     top: 50%;
     left: 50%;
     border: solid #000000;
     box-shadow: 5%;
     transform: translate(-50%, -50%);
     background-color: rgb(16, 21, 20);
     padding-top: 8%;
     width: 25vw;
     height: 25vh;
     color: red;

     }
    
     .custom-alert-content {
       display: flex;
       flex-direction: column;
       align-items: center;
     }
    
   