/* FullscreenDiv.css */
.login-body {
  width: 100vw;
  height: 100vh; 
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-body .head{
  color: white;
  width: 100%;
  padding-top: 10px;
  font: bold;
  height: 13%;
  background-color: #240961;
  

}
@media only screen and (max-width:650px) {
  .login-body .head h1{
    font-size: smaller;
  }
}
.login-body .head h1{
  margin-left: 34%;
  font-family: red serifs;
  width:fit-content;
  
}


.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    padding-right: 37px;
    border: 2px solid rgb(11, 15, 255);
    background: linear-gradient(to right, #000, #240961, rgb(21, 21, 85),#240961, #000);
    text-align: center;
    color: white;
    margin-top: 10%;
    width:fit-content;
  }
  
  .login-page h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .login-page input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    
  }
  
  .login-page button {
    background-color: white;
    color: deepblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }


  .login-page button:hover {
    background-color: rgb(25, 37, 204);
  }
  
  .login-page a {
    color: yellow;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .login-page a:hover {
    text-decoration: underline;
  }

  .error1{
    color: red;
    font-style: italic;
    font-size: smaller;
  }