/* NewDepartment.css */
.new-department-card {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    background-color: #5a87878a;
  }
  
  .new-department-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
    /* background-color: red; */
    background: radial-gradient(circle, #96d6d606, #5a878730, #96d6d606, #5a87878a);
    border-radius: 10%;
  }
  
  .new-department-form {
    display: flex; /* Use flexbox to stack label and input elements */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
  }
  
  .new-department-form label {
    margin-bottom: 8px;
  }
  
  .new-department-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 16px;
  }
  
  .new-department-form button {
    background-color: #2e9da4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .new-department-form button:hover {
    background-color: #0056b3;
  }
  