.Ttickets-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(91, 110, 110, 0.428);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0.5, 0, 0, 0.6);
  justify-content: center;
}

.Tsub-structure {
  display: flex;
}

.Tsub-structure1 {
  margin: 2vw;
}
.Tticket-form {
  display: grid;
  gap: 10px;
}

.Tticket-form h2 {
  margin-bottom: 10px;
}

.Tticket-form label {
  font-weight: bold;
}

.Tticket-form input,
.Tticket-form textarea,
.Tticket-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Tticket-form select {
  height: 40px; /* Adjust height as needed */
}

.Tticket-form .Terror {
  color: rgb(255, 0, 0);
  font-size: smaller;
}

.Tticket-form button {
  background-color: #071866cb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid blue;
}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
  .Tticket-form {
    grid-template-columns: 1fr; /* Change to single column layout on small screens */
  }
}