
body{
    
    background-image: linear-gradient(to right, rgb(92, 142, 189) , rgb(204, 166, 221));
    
}


#signup-form{
   align-items: center;
    width: 80vh;
    height: 53vh;
    background-color: #d6e2d3;
    border-radius: 1%;
    padding: 5%;
    margin-top: 12.5vh;
    margin-left: 50vh;
    
}

.Parent{
    display: flex;
    width: 100%;
}
.child{ 
    margin-right: 10%;
    width: 50%;
    padding: 5px;
    
}
.child1{ 
    width: 100%;
    display:flow-root;
  justify-content: space-between;
}
input[type="radio"][name="radio-group"] {
    margin-left: 5%;
  }



#f1{
    width: 96%;
    border: 1px solid #726e6e;
    border-radius: 4px;
}
.form-body .Parent .child input{
    height: 20px;
}


#register{
    background-image: linear-gradient(to right, rgb(92, 142, 189) , rgb(204, 166, 221));;
    width:100%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: rgb(238, 238, 238);
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    background-image: linear-gradient(to right, rgb(92, 142, 189) , rgb(204, 166, 221));
    margin: 1em 0;
    padding: 0;
    width: 15px;
}
div.form-body{
    align-content: center;
    align-self: auto;
    width: 100% ;
}